<div class="p-4 full-height">
  <div class="container">
    <h1>Hi!!</h1>
    <p>Welcome to Australia Sports</p>
    <p><a routerLink="../predict">Predict Team Wins</a></p>
    <!-- <p><a (click)="setChallenger()" [routerLink]="['/startGame', true ]">Start a game!</a></p> -->
    <!-- <p><a (click)="setChallenged()" routerLink="/challenge">Challenges!</a></p> -->
    <p><a routerLink="../results">Results of all game played by your team</a></p>
    <p><a routerLink="../opponents">See opponents and game details</a></p>
    <p><a routerLink="../venues">List of venues where my team won</a></p>
    <p><a routerLink="../advance-result">See head to head games</a></p>

    <!-- {{quiz | json}} -->
  </div>
</div>
